body {
    margin: 20px;
    font-family: Helvetica, sans-serif;
    background: rgb(100,140,240);
}

.avatar {
    width: 150px;
    border-radius: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #fff;
    color: #000;
    border: 2px solid #2550FA;
    border-bottom: 6px solid #2550FA;
    border-radius: 6px;
    transition: 0.3s ease;
}

.card:hover {
    background: rgb(37,80,250);
    color: white;
    border-color: white;
    border-bottom-color: white;
}
